@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: NB;
    src: url(./fonts/NBInternationalProBoo.woff2);
}

@font-face {
    font-family: RE;
    src: url(./fonts/Rejouice-Headline.woff2);
}


/* font-family: Hitmarker Text; */
/* font-family: Hitmarker Condensed; */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #353535;
    color: white;
    font-family: Poppins;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}

body::-webkit-scrollbar {
    display: none;
}


#page1 {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

#page1 nav {
    height: 15vh;
    width: 90%;
    /* background-color: #243137; */
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
    border-bottom: 3px solid #fff;

}

nav .logo {
    /* text-align: center; */
    height: 4vw;
    width: 8vw;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.logo span {
    margin-top: 1vw;
    margin-left: 6vw;
}

nav i {
    display: none;
}

nav .logo h2 {
    color: white;
    font-family: NB;

}

nav .links {
    display: flex;
    gap: 2vw;
    font-family: NB;
    font-size: 1.3vw;


}

.links h4 {
    font-weight: 300;

}

.links a {
    transition: all ease 0.3s;
}

nav .links a:hover {
    text-decoration: underline;
    scale: 1.1;
}

.resbtn {
    display: none;
}

.res-nav {
    position: absolute;
    top: -150%;
    left: 0;
    width: 90%;
    background-color: #f0f0f0;
    transition: none;
    height: 50vh;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vw;
}

.res-nav a {
    color: black;
    font-size: 6.6vw;

}

.heading {

    margin-top: 5vw;
}

.heading h2 {
    text-align: center;
    padding-bottom: 1vw;
}

#page2 {
    min-height: 220vh;
    width: 100%;
}




.serivces-boxes {
    height: 60vh;
    width: 100%;
    /* background-color: #333; */
    padding: 3vw;
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service-head1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    width: 100%;

}


.firstservice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.secondservice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.service-head2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    width: 100%;
}
.service-box {
    min-height: 60vh;
    width: 30%;
    background-color: #011627;
    padding: 2vw;
    font-family: poppins;

}

.service-heading h4 {
    font-size: 1.7vw;
    text-align: center;
    margin-top: 1.2vw;
}

.service-box h2 {
    font-size: 1.2vw;
    font-family: RE;
    font-weight: 550;
    margin-top: 0.6vw;
    letter-spacing: 0.1vw;
}

.service-box p {
    margin-top: 0.6vw;
}

.service-logo {
    height: 5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.service-logo div {
    height: 5vw;
    width: 5vw;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-logo div i {
    color: #000;
    font-size: 3vw;
}


.service-btn .btn {
    background-color: #00BFA6;
    padding: 14px 40px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #00BFA6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    margin-top: 2vw;
}

.service-btn .btn span:last-child {
    display: none;
}

.service-btn .btn:hover {
    transition: .4s;
    border: 2px dashed #00BFA6;
    background-color: #fff;
    color: #00BFA6;
}

.service-btn .btn:active {
    background-color: #87dbd0;
}



#page3{
    min-height: 50vh;
    width: 100%;
    /* background-color: #333; */
    margin-top: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.service-head3{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    width: 100%;
}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;
    gap: 2vw;
}

.service-logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}




footer {
    min-height: 70vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 4vw;
    border-bottom: 2px solid white;
    margin-top: 4vw;
    gap: 3vw;
}

.footbox {
    min-height: 60vh;
    width: 30%;
    /* background-color: #333; */
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.footbox1 img {
    width: 40%;
}

.footicon {
    display: flex;
    gap: 2vw;
}

.footicon i {
    padding: 0.9vw;
    border: 1px solid white;
    border-radius: 50%;
    transition: all linear 0.3s;
}
.footicon i:hover{
    background-color: white;
    color: black;
}
.footlinks{
    display: flex;
    gap: 1vw;
    flex-direction: column;
}
.footbox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footbox2 h4 {
    font-size: 1.2vw;
    font-weight: 300;

}
.footbox3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.footbox3 h4{
    font-size: 1.2vw;
    font-weight: 300;
}


.footbox3 i{
    font-size: 1.4vw;
}
.contactbox p{
    margin: 15px;
    display: flex;
    gap: 1vw;
}
.copyright{
    min-height: 10vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}


















@media (max-width:600px) {
    nav .links a {
        display: none;
    }

    nav .links i {
        display: block;
        font-size: 9vw;
    }

    nav .logo h2 {
        color: white;
        font-family: NB;
        font-size: 6.5vw;
    }

    .resbtn {
        display: block;
    }

    nav .logo {
        /* text-align: center; */
        height: 19vw;
        width: 36vw;
    }

    .top_header {
        padding: 1rem;
        display: block;
    }

    .top_header section {
        margin: 40px 0;
        align-items: left;
        justify-content: left;
    }

   
    #page2 {
        min-height: 514vh;
        margin-top: 25vw;
    }

    .service-btn {
        display: flex;
        justify-content: center;
        margin-top: 7vw;
    }

    .serivces-boxes {
        /* margin-top: 75vw; */
        display: flex;
        gap: 10vw;
    }

    .service-box {
        min-height: 67vh;
        width: 100%;
    }

    .service-logo {
        margin-top: 10vw;
    }

    .service-logo div {
        height: 21vw;
        width: 21vw;
    }

    .service-logo div i {
        font-size: 8vw;
    }

    .service-box h2 {
        margin-top: 7vh;
        text-align: center;
        font-size: 5vw;
    }

    .service-box p {
        margin-top: 2vw;
        text-align: center;
    }

    .service-box button {
        display: flex;
        justify-content: center;
    }
    .bottom_content i {
        font-size: 7vw;
    }
    
    .firstservice{
        flex-direction: column;
    }
    .secondservice{
        flex-direction: column;
    }
    #page3{
        margin-top: 20vw;
        min-height: 210vh;
    }
    
    .third{
        flex-direction: column;
        gap: 4vw;
    }
    footer{
        min-height: 95vh;
        flex-direction: column;
        margin-top: 25vw;
    }
    .footbox1{
        min-height: 20vh;
    }
    .footbox{
        width: 100%;
    }
    .footicon i{
        padding: 3vw;
    }
    .footbox2{
        min-height: 10vh;
        gap: 4vw;
    }
    .footbox2 >h4{
        font-size: 5vw;
        border-bottom: 1px solid;
    }
    .footbox3{
        min-height: 10vh;
    }
    .footlinks{
        flex-direction:row;
        gap: 6vw;
    }
    .footlinks h4{
        font-size: 5vw;
        
       
    }
    .footbox3 h4 {
        font-size: 5.2vw;
        font-weight: 300;
        border-bottom: 1px solid;
    }
    .footbox3 i {
        font-size: 5.4vw;
    }
    .footicon {
        display: flex;
        gap: 2vw;
        margin-top: 3vw;
    }
    .copyright span{
        font-size: 3.1vw;
    }
    .footbox1 img {
        width: 26%;
        margin-left: -2%;
        margin-bottom: 4vw;
    }
    .card .cardlogos {
        height: 30vw;
    }
    .cardlogo {
        height: 20.4vw;
        width: 20.4vw;
    }
    .card span {
        font-size: 3.9vw;
        margin-top: 6vw;
    }


}
